#CTLAB-SPI
#
#immer vorhanden
NET "CLK50" LOC = "P55" | IOSTANDARD = LVCMOS33;
NET "LED"  LOC = "P44" | IOSTANDARD = LVCMOS33; 

#SPI-Interface CTLAB-MCU AVR 644
NET "F_MISO"  LOC = "P73" | IOSTANDARD = LVCMOS33; #AVR 644
NET "F_MOSI"  LOC = "P63" | IOSTANDARD = LVCMOS33; #AVR 644
NET "F_RS"    LOC = "P68" | IOSTANDARD = LVCMOS33; #AVR 644
NET "F_DS"    LOC = "P69" | IOSTANDARD = LVCMOS33; #AVR 644
NET "F_SCK"   LOC = "P70" | IOSTANDARD = LVCMOS33 | CLOCK_DEDICATED_ROUTE = FALSE; #AVR 644
NET "VEC_DONE"    LOC = "P74" | IOSTANDARD = LVCMOS33 ; #AVR 644 F_INT
#NET "VEC_RESTART" LOC = "P77" | IOSTANDARD = LVCMOS33 ; #AVR 644 F_AUX, unused

## Arduino Nano
#NET "A_SCK"   LOC = "P108" | IOSTANDARD = LVCMOS33; #Arduino Nano  B5
#NET "A_MISO"  LOC = "P99"  | IOSTANDARD = LVCMOS33; #Arduino Nano  B4 MISO
#NET "A_MOSI"  LOC = "P18"  | IOSTANDARD = LVCMOS33; #Arduino Nano  B3 MOSI
#NET "A_DS"    LOC = "P17"  | IOSTANDARD = LVCMOS33; #Arduino Nano  B2
#NET "A_RS"    LOC = "P21"  | IOSTANDARD = LVCMOS33; #Arduino Nano  B1
#NET "VEC_DONE"    LOC = "P20"  | IOSTANDARD = LVCMOS33 ; #Arduino Nano B0
#NET "VEC_RESTART" LOC = "P123" | IOSTANDARD = LVCMOS33 ; #Arduino Nano D2, unused

#Anwendungsspezifisch, für Schaltung/Platine FPGA-DACRAM
#NET "RAM_WR"  LOC = "P108" | IOSTANDARD = LVCMOS33;
#NET "RAM_OE"  LOC = "P104" | IOSTANDARD = LVCMOS33;

NET "DAC<0>"   LOC = "P130" | IOSTANDARD = LVCMOS33; # LSB 12-Bit-Wandler und RAM Adr 11
NET "DAC<1>"   LOC = "P129" | IOSTANDARD = LVCMOS33; 
NET "DAC<2>"   LOC = "P132" | IOSTANDARD = LVCMOS33; 
NET "DAC<3>"   LOC = "P131" | IOSTANDARD = LVCMOS33; 
NET "DAC<4>"   LOC = "P141" | IOSTANDARD = LVCMOS33; 
NET "DAC<5>"   LOC = "P140" | IOSTANDARD = LVCMOS33; 
NET "DAC<6>"   LOC = "P6" | IOSTANDARD = LVCMOS33; 
NET "DAC<7>"   LOC = "P5" | IOSTANDARD = LVCMOS33; 
NET "DAC<8>"   LOC = "P8" | IOSTANDARD = LVCMOS33; 
NET "DAC<9>"   LOC = "P7" | IOSTANDARD = LVCMOS33; 
NET "DAC<10>"  LOC = "P11" | IOSTANDARD = LVCMOS33; 
NET "DAC<11>"  LOC = "P10" | IOSTANDARD = LVCMOS33; # MSB 12-Bit-Wandler und RAM Adr 0

NET "DAC_WR"  LOC = "P102" | IOSTANDARD = LVCMOS33;  # DAC AD5447, 21 MSPS
NET "DAC_MPX"  LOC = "P105" | IOSTANDARD = LVCMOS33; # DAC AD5447, 21 MSPS

NET "TXDAC_CLK"  LOC = "P103" | IOSTANDARD = LVCMOS33; # TxDAC AD 9752, 125 MSPS

#NET "TestClk" LOC = "P122" | IOSTANDARD = LVCMOS33;
#NET "TestWR" LOC = "P123" | IOSTANDARD = LVCMOS33;
#NET "TestENA" LOC = "P118" | IOSTANDARD = LVCMOS33;

#NET "DCF77"  LOC = "P100" | IOSTANDARD = LVCMOS33;
#NET "FREQ_IN"  LOC = "P100" | IOSTANDARD = LVCMOS33;

#Sonst Grün-Ausgang:
NET "ZVID<3>"  LOC = "P87" | IOSTANDARD = LVCMOS33;
NET "ZVID<2>"  LOC = "P86" | IOSTANDARD = LVCMOS33;
NET "ZVID<1>"  LOC = "P89" | IOSTANDARD = LVCMOS33;
NET "ZVID<0>"  LOC = "P90" | IOSTANDARD = LVCMOS33;

#Sonst FBAS-Ausgang:
NET "AUDIO<2>"  LOC = "P93" | IOSTANDARD = LVCMOS33;
NET "AUDIO<1>"  LOC = "P92" | IOSTANDARD = LVCMOS33;
NET "AUDIO<0>"  LOC = "P96" | IOSTANDARD = LVCMOS33;

#Buttons über SPI

